<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="books" aria-expanded="true">
                    <i class="fas fa-book"></i>
                    <span class="nav-text">books</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/books">all books</a></li>
                    <li class="admin-sidebar"><a href="/books/add-book">Add Book</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/categories" aria-expanded="true">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">categories</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/category">categories</a></li>
                </ul>
            </li>
            <li class="admin-sidebar">
                <a class="has-arrow ai-icon" href="/book-reviews" aria-expanded="true">
                    <i class="fas fa-receipt"></i>
                    <span class="nav-text">book-reviews</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/item-reviews">book-reviews</a></li>
                </ul>
            </li>
            <li class="admin-sidebar">
                <a class="has-arrow ai-icon" href="/users" aria-expanded="true">
                    <i class="fas fa-users"></i>
                    <span class="nav-text">Users</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/users">User List</a></li>
                </ul>
            </li>
            <li class="admin-sidebar">
                <a class="has-arrow ai-icon" href="/authors" aria-expanded="true">
                    <i class="fas fa-book-reader"></i>
                    <span class="nav-text">Authors</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/authors">Author List</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/my-profile" aria-expanded="true">
                    <i class="fas fa-user-tie"></i>
                    <span class="nav-text">Profile</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/my-profile">Profile</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
