<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>

    <body class="h-100">
        <div class="authincation h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-md-6">
                        <div class="authincation-content">
                            <div class="row no-gutters">
                                <div class="col-xl-12">
                                    <div class="auth-form">
                                        <h4 class="text-center mb-4">Reset your password</h4>
                                        <form action="index.html">
                                            <div class="form-group">
                                                <label class="mb-1"><strong>Email</strong></label>
                                                <input name="email" id="email" type="email" class="form-control" value="example@gmail.com" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label class="mb-1"><strong>Old Password</strong></label>
                                                <div class="input-group">
                                                    <input name="old_password" id="old_password" type="password" class="form-control" />
                                                    <span class="input-group-text rounded-0 view_pass" style="cursor: pointer" id="old_eye"><i class="fas fa-eye"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="mb-1"><strong>Password</strong></label>
                                                <div class="input-group">
                                                    <input name="password" id="password" type="password" class="form-control" />
                                                    <span class="input-group-text rounded-0 view_pass" style="cursor: pointer" id="eye"><i class="fas fa-eye"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-left" id="password_start_err" style="font-size: 10pt; padding-left: 0px"></div>

                                                <div class="text-left" id="message" style="font-size: 10pt"></div>

                                                <div class="text-left" id="password_number_err" style="font-size: 10pt"></div>

                                                <div class="text-left" id="password_lower_err" style="font-size: 10pt"></div>

                                                <div class="text-left" id="password_upper_err" style="font-size: 10pt"></div>

                                                <div class="text-left" id="message5" style="font-size: 10pt"></div>

                                                <div class="text-left" id="message6" style="font-size: 10pt; padding-left: 0px"></div>

                                                <div class="text-left" id="message7" style="font-size: 10pt; padding-left: 0px"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="mb-1"><strong>Confirm Password</strong></label>
                                                <div class="input-group">
                                                    <input name="verify_password" id="verify_password" type="password" class="form-control" />
                                                    <span class="input-group-text rounded-0 view_pass" style="cursor: pointer" id="c_eye"><i class="fas fa-eye"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div id="message1" style="font-weight: bold; text-align: center; font-size: 10pt"></div>
                                            </div>
                                            <div class="form-group">
                                                <button id="btn-reset" type="button" class="btn btn-primary btn-block">Reset</button>
                                            </div>
                                        </form>
                                        <!-- <div class="new-account mt-3">
                    <p>
                      Already have an account?
                      <a class="text-primary" href="page-login.html">Sign in</a>
                    </p>
                  </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
	Scripts
***********************************-->
        <!-- Required vendors -->
        <%- include('../partials/scripts'); %>

        <script>
            $(document).ready(function () {
                var userData = JSON.parse(localStorage.getItem("userData"));

                if (localStorage.getItem("userData") === null) {
                    customAlert(
                        (params = {
                            type: "error",
                            title: "Invalid User",
                            message: "To reset password, At first sign in to your account",
                            btnType: "danger",
                            link: "/sign-in",
                            link_text: "Sign IN",
                        })
                    );
                }
                $("#email").val(userData.email);

                $("#old_eye").bind("mousedown touchstart", function () {
                    $("#old_password").attr("type", "text");
                });
                $("#old_eye").bind("mouseup touchend", function () {
                    $("#old_password").attr("type", "password");
                });
                $("#eye").bind("mousedown touchstart", function () {
                    $("#password").attr("type", "text");
                });
                $("#eye").bind("mouseup touchend", function () {
                    $("#password").attr("type", "password");
                });
                $("#c_eye").bind("mousedown touchstart", function () {
                    $("#verify_password").attr("type", "text");
                });
                $("#c_eye").bind("mouseup touchend", function () {
                    $("#verify_password").attr("type", "password");
                });
                $("#password").keyup(function () {
                    passwordChecker();
                });
                $("#btn-reset").click(function () {
                    submitForm();
                });

                function submitForm() {
                    if (document.getElementById("email").value.trim() === "" && document.getElementById("email").value !== null) {
                        $("#emailError").css("color", "red");
                        $("#emailError").html("Please enter your Email ID");
                        $(".form-control").removeClass("border-danger");
                        $("#email").addClass("border-danger");
                    } else if (document.getElementById("old_password").value.trim() === "" && document.getElementById("old_password").value !== null) {
                        $("#message1").css("color", "red");
                        $("#message1").html("Enter a valid password");
                        $("#old_password").addClass("border-danger");
                    } else if (document.getElementById("password").value.trim() === "" && document.getElementById("password").value !== null) {
                        $("#message1").css("color", "red");
                        $("#message1").html("Please enter your Password");
                    } else if (document.getElementById("password").value.trim() === "" && document.getElementById("verify_password").value !== null) {
                        $("#message1").css("color", "red");
                        $("#message1").html("Please confirm your password");
                    } else if ($("#password").val() !== $("#verify_password").val()) {
                        $("#message1").css("color", "red");
                        $("#message1").html("Confirm password and password must be same");
                    } else {
                        formAjaxSubmit();
                    }
                }

                function formAjaxSubmit() {
                    console.log(userData);
                    var password = $("#password").val();
                    var oldPassword = $("#old_password").val();
                    var email = $("#email").val();
                    $.ajax({
                        url: "/reset-password",
                        method: "post",
                        data: {
                            email,
                            oldPassword,
                            password,
                            access_token: userData.token,
                        },
                        dataType: "json",
                        success: function (response) {
                            customAlert(response);
                        },
                        error: function (error) {
                            customAlert(error);
                        },
                    });
                }

                function passwordChecker() {
                    $("#verify_password").val("");
                    $("#message1").html("");
                    $("#password_start_err").html("");
                    $("#message10").html("");
                    $("#message").html("");
                    $("#password_number_err").html("");
                    $("#password_lower_err").html("");
                    $("#password_upper_err").html("");
                    $("#message5").html("");
                    $("#message6").html("");
                    $("#message7").html("");
                    if ($("#password").val().length >= 0) {
                        if (password_validation() === true) {
                            $("#message").css("color", "green");
                            $("#message").html("");
                            if ($("#password").val().length >= 9) {
                                $("#message").html("");
                                $("#message1").html("");
                            }
                            return true;
                        }
                    }
                }

                function password_validation() {
                    var password = $("#password").val();
                    console.log("Pass; ", password);
                    if (!password.match(/^(?=.{8,})(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).*$/)) {
                        $("#password_start_err").css("color", "red");
                        $("#password_start_err").html("Your password must contain:-");
                        if (!password.match(/^(?=.{8,}).*$/)) {
                            $("#message").css("color", "red");
                            $("#message").html(" - minimum 8 characters.");
                        }
                        if (!password.match(/^(?=.*[0-9]).*$/)) {
                            $("#password_number_err").css("color", "red");
                            $("#password_number_err").html(" - at least 1 Number.");
                        }
                        if (!password.match(/^(?=.*[a-z]).*$/)) {
                            $("#password_lower_err").css("color", "red");
                            $("#password_lower_err").html(" - at least 1 Lowercase character.");
                        }
                        if (!password.match(/^(?=.*[A-Z]).*$/)) {
                            $("#password_upper_err").css("color", "red");
                            $("#password_upper_err").html(" - at least 1 Uppercase character.");
                        }
                        return false;
                    } else {
                        return true;
                    }
                }

                function customAlert(params) {
                    Swal.fire({
                        icon: params.type,
                        title: params.title,
                        html: `<div class="mb-2">${params.message} </div><a class=" btn btn-outline-${params.btnType}" href="${params.link}">${params.link_text}</a>`,
                        showConfirmButton: false,
                    });
                }
            });
        </script>
    </body>
</html>
